body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: flex-start; /* Alinear al inicio */
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding-top: 50px; /* Añadir espacio superior */
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    color: #666;
}

.login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

img{
    margin-top: 10px;
    width:150px;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-arrow:hover {
    color: #0056b3;

}


#register{
    text-align: center;
    font-size: 15px;
}
